* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FAFC;
    color: #1E293B;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
    background-color: rgba(229, 235, 249, 0.76);
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav  ul {
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #10B981;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    
}

nav a:hover {
    background-color: #1E293B;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero {
    background: 
    linear-gradient(to left, rgba(207, 25, 25, 0)40%, rgba(255, 255, 255, 0.7) 100%),
    url("fundo-corrimão.webp") center/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.hero-p {    
    font-size: 32px;
    max-width: 600px;
}

.hero p {
    font-size: 20px;
    margin-top: 30px;
    max-width: 700px;
    margin-bottom: 30px;
}

.hero h2, .hero p {
    margin-left: 40px;

}

.hero button {
    margin-left: 40px;
    height: 55px;
    width: 310px;
    background-color: #1E293B;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f3f8ff;
    color: #10B981;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #10B981;
    color: #ffffff;
}

.btn2 {
    padding: 16px;
    background-color: #1E293B;
    color: #10B981;
    text-decoration: none;
    font-size: 14px;
    width: 310px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 17px;
    border-radius: 10px;
    margin-left: 40px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.btn2:hover {
  background-color: #474d56;
}

.sobre {
    display: flex;
    height: 700px;
    padding-top: 100px;
    background: linear-gradient(to right, #ffffff, #d7e2f4);
}

.sobre h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #222;
    margin-bottom: 15px;
}

.sobre p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    color: #555;
    max-width: 700px;
}

.img-soldador {
    width: 780px;
}

.img-soldador img {
    width: 650px;
    margin: 40px auto;
    display: block;
    padding: 20px 0;
}

.img-soldador img {
    width: 650px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 80px;
}

.descricao {
    margin-top: 150px;
}

.servicos {
    padding: 80px 20px;
    background: linear-gradient(to right, #ffffff, #d7e2f4);
    text-align: center;
}

.servicos h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #1E293B;
}

.container-p {
    font-size: 20px;
}

.container p {
    margin: 0 auto 60px;
}

/* ==== CARDS ==== */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: stretch;
    justify-items: center;
    margin-top: 130px;
}

.card {
    background-color: #1b232b;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
}

.card img {
    margin: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.cards p, h3 {
    color: #F8FAFC;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    max-width: 340px;
}

.card h3 {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #10B981;
}

.contato-section {
    background-color: #1E293B;
    padding: 60px 20px;
    text-align: left;
}

.contato-container {
    max-width: 900px;
    margin: 0 auto;
}

.contato-section h2 {
    color: #10B981;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.contato-section p {
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.btn-contato {
    background: white;
    color: #10B981;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.btn-contato:hover {
    background: #10B981;
    color: white;
}

.portfolio {
    padding: 80px 20px;
    background: linear-gradient(to right, #ffffff, #d7e2f4);
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #10B981;
}

.portfolio P {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 25px;
    
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.galeria img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.contato-2 {
    padding: 70px 20px;
    background-color: #1E293B;
    color: #ffffff;
    text-align: center;
}

.contato-2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #10B981;
    margin-bottom: 20px;
}

.contato-2 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 16px;
    color: #ffffff;
    max-width: 270px;
}

.contato-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.col-esquerda h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    margin-top: 75px;
}

.col-meio {
    text-align: left;
}

.col-meio p i {
  margin-right: 8px;
  color: #10B981;
  font-size: 18px;
}

.col-direita ul {
  list-style: none;
  padding: 0;
}

.col-direita ul li {
  margin-bottom: 10px;
  text-align: left;
}

.col-direita a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.col-direita a:hover {
  text-decoration: underline;
  color: #ccc;
}

button {
    background-color: #ffffff;
    height: 50px;
    width: 220px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color: #4a5a54;
    color: #ffffff;
}

.btn i {
  margin-right: 8px;
  font-size: 20px;
  color: #25D366;
}

footer {
    padding: 20px 100px;
    font-size: 12px;
    background-color: #10B981;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.whatsapp-float img {
  width: 45px;
  height: 45px;
}

.whatsapp-float:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/* ============================= */
/* RESPONSIVIDADE GERAL */
/* ============================= */

/* Telas grandes (até 1200px) */
@media (max-width: 1200px) {
  .img-soldador img {
    width: 100%;
    margin: 0 auto;
  }

  .descricao {
    margin-top: 50px;
    text-align: center;
  }

  .sobre {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 60px 20px;
  }
}

/* Tablets (até 900px) */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    text-align: center;
  }

  .hero {
    height: auto;
    padding: 100px 20px;
    text-align: center;
  }

  .hero h2, 
  .hero p, 
  .hero button {
    margin-left: 0;
  }

  .contato-container {
    text-align: center;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }

  .contato-container-2 {
    flex-wrap: wrap;
    text-align: center;
  }

  .col-esquerda {
    flex: 0 0 100%;
    order: -1;
  }

  .col-esquerda h2 {
    margin: 0;
    font-size: 2.2rem;
  }

  .col-meio, .col-direita {
    flex: 1;
    text-align: center;
  }

  .col-meio p {
    display: flex;
    justify-content: center;
    
  }

  .col-direita li {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .img-soldador {
    width: 70%;
  }
}

/* Celulares médios (até 600px) */
@media (max-width: 600px) {
  .hero {
    padding: 60px 15px;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    width: 100%;
    max-width: 280px;
  }

  .btn2 {
    display: block;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .card img {
    height: 250px;
  }

  .sobre {
    padding: 40px 15px;
  }

  .sobre p {
    font-size: 1rem;
  }

  .img-soldador {
    width: 60%;
  }

  .portfolio p {
    font-size: 1rem;
  }

  .portfolio h2 {
    font-size: 1.8rem;
  }

  .contato-2 p {
    max-width: 100%;
    font-size: 0.9rem;
    text-align: center;
  }

  .col-direita ul li {
  margin-bottom: 10px;
  text-align: center;
  background-color: #F8FAFC;
}

  .col-direita a {
  color: #10B981;
  text-decoration: none;
  font-weight: 500;
}

  footer {
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
  }
}

